@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
    color: #143c2d;
    text-align: center; 
    line-height: 1.25;
}

p {
    line-height: 1.5;
    font-size: 16px;
}


img {
    width: 100px;
}

body {
    background-color: #F8F6F2
}


/* NAVIGATION BAR */

nav { 
    height: 100px; 
    width: 100%;
    max-width: 1000px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0 auto; 
}

.personal__logo {
    font-size: 40px; 
    font-family: serif;
    color: #88544e;
    font-weight: 700;
}

.ul__nav {
    list-style-type: none; 
    display: flex; 
}


.nav__li {
    transform: scale(1);
    transition: all 300ms ease;
}

.nav__li:hover {
    transform: scale(1.04);
}

.nav__link--anchor {
    text-decoration: none;
    margin: 0 12px; 
    font-weight: 700; 
    color: #ba8984;
    height: 20px;
    padding: 8px 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;

    }

.link__hover-effect--black:hover {
    color: #aa746e;
    border-color: #aa746e;
}

.nav__link--anchor-primary {
    background-color: #ba8984;
    color: #F8F6F2;
}

.nav__link--anchor-primary:hover {
    background-color: #aa746e
}


/* ROW */

.row {
    display: flex;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
    justify-content: center;
}


/* ABOUT ME */

.flex-1 {
    display: flex;
    flex: 1;
}

#about-me {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

.about-me__info--mask {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.me-photo {
    border-radius: 40px;
    box-shadow: 0 5px 10px #eddbb5;
}

.about-me__info--title {
    padding: 20px;
}

.text--gold {
    color: #708C7E
}

.about-me__info--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.icon {
    width: 80px;
    margin: 8px 25px;
    color: #aa746e;
}

.icon:hover {
    color: #8b5650
}

.about-me__link {
    height: 40px;
}

.about-me__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me__image {
    width: 55vw;
}

.tech--container {
    margin-top: 50px;
}


/* TECH STACK */

.tech--container {
    width: 100%;
    width: 100vw;
}

.section__title {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.tech--row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: #f3eee4;
    height: 76vh;
}

.language__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.language__image {
    width: 100%; 
    max-width: 100px;
    transition: all 300ms ease;
}

.language__image:hover {
    filter: brightness(80%);
    opacity: .86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex; 
    justify-content: center;
    position: relative;
}

.language__name { 
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    color: #225C46
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}


/* PROJECTS */

.projects--container {
    height: 76vh;

}

.projects--row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 76vh;
}

.section__title {
    padding-top: 40px;
}

.project__list {
    list-style-type: none;
}


/* FOOTER */

footer {
    width: 100vw;
    background-color: #708c7e8a;
}

footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0;
}

.my__logo {
    margin-bottom: 16px;
    max-width: 100px;
}

.footer__social--link {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 700; 
    color: #F8F6F2;
    height: 20px;
    padding: 8px 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

.footer__social--link:hover {
    color: #f8f3eb;
}

footer li {
    transform: scale(1);
    transition: all 300ms ease;
}

footer li:hover {
    transform: scale(1.05)
}

footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
